@charset "UTF-8";
.fil0 {fill:white}
.fil3 {fill:black;fill-rule:nonzero}
.fil4 {fill:black;fill-rule:nonzero}
.fil5 {fill:#9A9C9F;fill-rule:nonzero}
.fil1 {fill:#ED3237;fill-rule:nonzero}
.fil2 {fill:#FEFEFE;fill-rule:nonzero}
